.ClearNightIconGroup{
   .cls-1 {
      font-size: 161.72px;
      stroke: var(--background-color);
      stroke-miterlimit: 10;
      font-family: DINAlternate-Bold, DIN Alternate;
      font-weight: 700;
   }

   .cls-1,
   .cls-2 {
      fill: var(--background-color);
   }

   .cls-3 {
      fill: var(--foreground-color);
   }

   .cls-4 {
      fill: #f4ec90;
   }
}