.ClearDayIconGroup{
   .cls-1 {
      fill: var(--sun-color);
   }

   .cls-2 {
      fill: var(--foreground-color);
   }

   .cls-3 {
      font-size: 161.72px;
      fill: var(--background-color);
      stroke: var(--foreground-color);
      stroke-miterlimit: 10;
      font-family: DINAlternate-Bold, DIN Alternate;
      font-weight: 700;
   }

   .cls-4 {
      letter-spacing: -0.02em;
   }

   .cls-5 {
      letter-spacing: -0.07em;
   }
}