.CloudyIconGroup{
   .cls-1{
      fill: var(--background-color);
   }
   .cls-2{
      fill: var(--foreground-color);
   }
   .cls-3{
      fill: none;
      stroke: var(--foreground-color);
      stroke-miterlimit:10;
   }
}