.LightningIconGroup{
   .cls-1 {
      fill: var(--foreground-color);
   }

   .cls-2 {
      fill: var(--background-color);
   }

   .cls-3 {
      fill: #faee00;
   }

   .cls-4 {
      fill: none;
      stroke: var(--foreground-color);
      stroke-miterlimit: 10;
   }
}