.Hourly{

   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid var(--foreground-color);

   .overlay {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;

      .column{
         width: calc(100% / 24);
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: center;
         text-align: center;
         overflow: visible;

         p{
            font-size: 0.7em;
            margin: 5px 0px;
         }

      }

   }

   svg{
      height: 100%;
      z-index: 10;
      pointer-events: none;
   }

   // .grid{
   //    stroke: var(--foreground-color);
   //    stroke-width: 1;
   // }

   .hourly-weather-spec {
      font-family: inherit;
      font-size: 1em;
   }


}